body {
    background-color: rgb(230, 191, 191);
    text-align: center
}
.header {
    background-color: rgb(241, 241, 241);

}

.header1 {
    background-color: rgb(221, 177, 177);

}

.footer {

    text-align: center;

  background-color: #5390d9;

  }
