<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Neelam Agarwal (eBM - 2129893)</h1>
    <div class="header">

    <img src="R.jpg" alt="picture of the R"width= "300" height="300" img></img>
    </div>
    <h2>About me</h2>
    <p>Hello I am Neelam studying eBM at the University of Warwick. </p>
    <h2>Hobbies</h2>
    <p>I love travelling and would like to meet like minded people.</p>
    <h2>Likes</h2>
    <p>I like to connect with people.</p>
    <h2>Follow my friends</h2>
    <div class="header1">
   <a href="https://licencinho.github.io/Python-IMA/"> <img src="T.jpg" alt="picture of the T"width= "300" height="300" img></img></a>
   <a href="https://peonylaucw.github.io/IMA_2141702_LAUPeony/"> <img src="F.jpg" alt="picture of the F"width= "300" height="300" img></img></a>
   <a href="https://amritabajaj.github.io/HTML-CSS-WEBSITE/"> <img src="G.jpg" alt="picture of the G"width= "300" height="300" img></img></a>
</div>
<div class="footer"></div>
<h3>Thank you</h3>
<p> See you again </p>

    


    </body>
</html>
